.app-root {
  box-sizing: border-box;
  padding: 10px 20px;
  min-height: 100vh;
  height: fit-content;
  background-color: #fff;
}

.app-content {
  padding: 15px;
  height: 98%;
  box-sizing: border-box;
}

.form-content .Search__width,
.form-content .FormItem--vkcom {
  width: 100%;
}

.vkuiSearch__in.Search__in {
  height: 44px;
}

.vkuiFormItem,
.vkuiSearch, .vkuiSearch.search-inner {
  padding: 0;
}

.vkuiSelect__title {
  font-size: 14px;
}

.vkuiSelect__container {
  padding-right: 0;
}

.form-content {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 180px auto;
  column-gap: 20px;
}

.spinner {
  padding: 40px 0;
  height: auto;
}

.vkuiGroup__inner.Group__inner {
  height: 100%;
}

.vkuiGroup.items-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
  padding: 20px;
}

.error-text {
  text-align: center;
}

.sort {
  width: 180px;
}

.totalPhotos {
  margin: 15px 0 15px 15px;
}

@media (max-width: 770px) {
  .form-content {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
  }

  .search {
    grid-column: 1 / 3;
  }

  .sort {
    grid-column: 1 / 2;
    width: 100%;
  }

  .button {
    grid-column: 2 / 3;
    width: 100%;
    align-self: end;
  }

  .button .vkuiButton {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .items-container div.vkuiGroup__inner.Group__inner {
    gap: 15px;
    padding: 10px;
  }
}
