.vkuiGroup--card > .vkuiGroup__inner {
  padding: 10px 20px;
}
.vkuiGroup__inner.Group__inner {
height: 100%;
}
.itemsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
}
